location.hbs
<p>
  Name: {{model.name}}<br>
  Id: {{model.id}}
</p>

<p>quickie jquery insertion test:</p>
<button id='click'>boom!</button>
<div id='boom' style='display: none; width: 100px; height: 100px; background-color: red'></div>

<p>quickie controller action test</p>
<button {{action showBox on='click'}}>bam!</button>
<div id='bam' style='display: none; width: 100px; height: 100px; background-color: olive'></div>
