locations.hbs
<ul>
{{#each controller}}
  <li>
    <a {{bindAttr href='url'}}>{{name}}</a>
  </li>
{{/each}}
</ul>

<p>actions quick test: for lack of an action in controller, it will bubble into router</p>
<button {{action sayYay on='click'}}>Yay!</button>
